<?xml version='1.0' encoding='utf-8'?>
<widget id="io.delaf.fambook" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fambook.io</name>
    <description>
        A Mobile APP with offline capabilities for poultry data collections into a cloud-based dashboard server for management, montoring and reporting purposes.
    </description>
    <author email="delafsolutions@gmail.com" href="http://cordova.io">
        delaf systems
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="1" />
    <plugin name="cordova-sqlite-storage" spec="1" />
    <plugin name="cordova-plugin-network-information" spec="1" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
     
     
    <!-- <preference name = "SplashScreen" value = "logo.jpeg" />
    <preference name = "SplashScreenDelay" value = "3000" />
    <preference name = "SplashMaintainAspectRatio" value = "false" /> -->
    
    <!-- <preference name="android-targetSdkVersion" value="27" /> -->
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon background="icon.png" density="ldpi" foreground="icon.png" />
        
        <splash src="giphy.gif" density="land-hdpi"/>

        <edit-config xmlns:android="http://schemas.android.com/apk/res/android" file="app/src/main/AndroidManifest.xml"
                    mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config"/>
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
        <resource-file src="network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml"/>

    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
</widget>
